[submodule "docs/sdk"]
	path = docs/sdk
	url = ../sdk.git
[submodule "docs/virtual"]
	path = docs/virtual
	url = ../virtual.git
[submodule "docs/hekr-cli"]
	path = docs/hekr-cli
	url = ../hekr-cli.git
[submodule "mobile-document"]
	path = docs/mobile-document
	url = ../../mobile/document.git
