[submodule "virtual"]
	path = virtual
	url = git@gitlab.hekr.me:front-end/virtual.git
[submodule "hekr-cli"]
	path = hekr-cli
	url = git@gitlab.hekr.me:front-end/hekr-cli.git
[submodule "hekr-h5-sdk"]
	path = hekr-h5-sdk
	url = git@gitlab.hekr.me:front-end/hekr-h5-sdk.git
