[submodule "sdk"]
	path = sdk
	url = ../sdk
[submodule "virtual"]
	path = virtual
	url = ../virtual.git
[submodule "hekr-cli"]
	path = hekr-cli
	url = ../hekr-cli.git
[submodule "mobile-document"]
	path = mobile-document
	url = ../../mobile/document.git
